*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(2, 2, 2);
}
.Wrapper{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgb(11, 11, 11);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 50px #0ef;
    overflow: hidden;
}
.Wrapper:hover{
    animation: animate 1s linear infinite;
}
@keyframes animate{
    100%{
        filter:hue-rotate(360deg);
    }
}
.form-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    transition: 2s ease-in-out;
}
h2{
    font-size: 30px;
    color:white;
    text-align: center;
}
.input-group{
    position:relative;
    margin:30px 0;
    border-bottom: 2px solid white;
}
.input-group label{
    position:absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgb(251, 245, 245);
    transition: -5s;
}
.input-group input{
    width:320px;
    height: 30px;
    background: transparent;
    color: white;
    font-size: 16px;
    padding: 0 5px;
    border: none;
    outline:none;
}
.input-group input:focus~label,
.input-group input:valid~label{
    top:-5px;
}
.remember{
    margin:-5px 0 15px 5px;
}
.remember label{
    color:aliceblue;
    font-size: 14px;
}
.remember label input{
    accent-color: #0ef;
    width: 30px;
}
button{
    position: relative;
    width:100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 20px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border:none;
    outline: none;
}
.Signup-link{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.Signup-link p{
    color:white;
}
.Signup-link p a{
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}
.Signup-link p a:hover{
    text-decoration: underline;
}